[Unit]
Description=Biometric Attendance Server
After=network.target
Wants=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=10
User=root
Group=root
WorkingDirectory="/home/silpc-011/Desktop/adwaith/Biometric_Device"
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 "/home/silpc-011/Desktop/adwaith/Biometric_Device/biometric_to_server.py"

LimitNOFILE=65536
MemoryMax=512M

StandardOutput=journal
StandardError=journal
SyslogIdentifier=biometric-server

[Install]
WantedBy=multi-user.target
